<div class="container col-lg-10 col-md-10">

  <div class="row">
    <div class="remove-padding">
      <div class="jumbotron " style="margin: 10px">

        <h1>{{'HOME_TITLE' | translate }}</h1>

        <p>{{'HOME_SUBTITLE' | translate}}</p>

        <p><a class="btn btn-default btn-lg" role="button" ui-sref="settings.audio"><i
          class="glyphicon glyphicon-cog"></i> {{'SETTINGS' | translate}}</a></p>

      </div>
    </div>

  </div>


  <div class="row">

    <!-- **************************  ORIGINAL  ************************** -->
    <!--    <div class="col-xs-4">
                <h2><i class="glyphicon glyphicon-user"></i>  {{'USERS' | translate}}</h2>
                <p>{{'HOME_USERS_TEXT' | translate}}</p>
                <p><a class="btn btn-primary pull-right" ui-sref="extensions.userAdd" href="" role="button">
                    <i class="glyphicon glyphicon-plus"></i> {{'ADD_USER' | translate}}</a></p>
            </div> -->
    <!-- **************************  MODIFICADO  ************************** -->
    <div class="col-xs-4">
      <h2 class="text-center">
        <i class="glyphicon glyphicon-user icon-white icon-bg-size-lg icon-bg icon-margin-lg"></i>{{'USERS' |
        translate}}
      </h2>

      <p class="text-center">{{'HOME_USERS_TEXT' | translate}}</p>
      <!--<p><a class="btn btn-primary center-block btn-primary-width" ui-sref="extensions.editUser" href="" role="button">-->
      <p><a class="btn btn-primary center-block btn-primary-width" ui-sref="extensions" href="" role="button">
        <i class="glyphicon glyphicon-plus"></i> {{'ADD_USER' | translate}}</a></p>
    </div>


    <!-- **************************  ORIGINAL  ************************** -->
    <!--    <div class="col-xs-4">
                <h2><i class="glyphicon glyphicon-th-list"></i> {{'GROUPS' | translate}}</h2>
                <p>{{'HOME_GROUPS_TEXT' | translate}}</p>
                <p><a class="btn btn-primary pull-right" ui-sref="extensions.groupAdd" href="" role="button">
                    <i class="glyphicon glyphicon-plus"></i> {{'ADD_GROUP' | translate}}</a></p>
            </div> -->
    <!-- **************************  MODIFICADO  ************************** -->
    <div class="col-xs-4">
      <h2 class="text-center">
        <i class="glyphicon glyphicon-th-list icon-white icon-bg-size-lg icon-bg icon-margin-lg"></i> {{'GROUPS' |
        translate}}
      </h2>

      <p class="text-center">{{'HOME_GROUPS_TEXT' | translate}}</p>
      <!--<p><a class="btn btn-primary center-block btn-primary-width" ui-sref="extensions.editGroup  " href="" role="button">-->
      <p><a class="btn btn-primary center-block btn-primary-width" ui-sref="extensions" href="" role="button">
        <i class="glyphicon glyphicon-plus"></i> {{'ADD_GROUP' | translate}}</a></p>
    </div>


    <!-- **************************  ORIGINAL  ************************** -->
    <!--    <div class="col-xs-4">
                <h2><i class="glyphicon glyphicon-phone-alt"></i> {{'CALLS' | translate}}</h2>
                <p>{{'HOME_CALLS_TEXT' | translate}}</p>
                <p><a class="btn btn-primary pull-right"  ui-sref="calls" href="" role="button">
                    <i class="glyphicon glyphicon-zoom-in "></i> {{'VIEW_CALLS' | translate}}</a></p>
            </div> -->
    <!-- **************************  MODIFICADO  ************************** -->
    <div class="col-xs-4">
      <h2 class="text-center">
        <i class="glyphicon glyphicon-phone-alt icon-white icon-bg-size-lg icon-bg icon-margin-lg"></i> {{'CALLS' |
        translate}}
      </h2>

      <p class="text-center">{{'HOME_CALLS_TEXT' | translate}}</p>

      <p><a class="btn btn-primary center-block btn-primary-width" ui-sref="calls" href="" role="button">
        <i class="glyphicon glyphicon-zoom-in "></i> {{'VIEW_CALLS' | translate}}</a></p>
    </div>
  </div>
</div>
