<div class="modal-header">
<h3 class="modal-title display-inline"> {{ 'CHANGE_PASSWORD' | translate }} </h3>

</div>

<form name="passwordForm" class="crud-panel-body">
  <div class="text-center">
    <i ng-if="working" class="fa fa-2x fa-circle-o-notch fa-spin text-warning"></i>
  </div>
  <div class="crud-field" ng-if="saved">
    <label class="password-free-label" > The data was updated succesfully.</label>
  </div>

  <div ng-if="!saved">
    <label class="password-label" > {{ 'CURRENT_PASSWORD' | translate }}</label>
    <input type="password" ng-model="changepassword.current"  name="current" class="text password-field" required ng-class="{'password-has-error':!currentValid}">
    <!--<label class="password-error-lable" >{{ 'CURRENT_ERROR' | translate}}</label>-->
    <div ng-if="passwordForm.current.$error.required && passwordForm.current.$dirty">
      <label class="password-label"> </label>
      <label class="password-error-label" >This field is required.</label>
    </div>

    <div ng-if="!currentValid">
      <label class="password-label"> </label>
      <label class="password-error-label" >Current Password is invalid.</label>
    </div>

  </div>

  <div  ng-if="!saved">
    <label class="password-label" >{{ 'NEW_PASSWORD' | translate }}</label>
    <input type="password" ng-model="changepassword.new"  name="new" class="text password-field" required>
    <div ng-if="passwordForm.new.$error.required && passwordForm.new.$dirty">
      <label class="password-label"> </label>
      <label class="password-error-label" >This field is required.</label>
    </div>
  </div>

  <div  ng-if="!saved">
    <label class="password-label">{{ 'CONFIRM_NEW_PASSWORD' | translate }}</label>
    <input type="password" ng-model="changepassword.newvalidation" name="confirm" class="text password-field" ng-class="{'password-has-error':!confirmValid}"required>
    <div ng-if="passwordForm.confirm.$error.required && passwordForm.confirm.$dirty">
      <label class="password-label"> </label>
      <label class="password-error-label" >This field is required.</label>
    </div>
    <div ng-if="!confirmValid">
        <label class="password-label"> </label>
         <label class="password-error-label">The two password fields didn't match.</label>
    </div>

  </div>

<div class="modal-footer">
  <div class="text-righ">
    <a href="" class="btn btn-primary btn-sm" ng-click="confirmclose()" ng-disabled="false" ng-if="saved" ><i class="fa fa-check fa-lg"></i>{{ 'CONFIRM' | translate}}&nbsp;</a>
    <a href="" class="btn btn-primary btn-sm" ng-click="save()" ng-disabled="false" ng-if="!saved"><i class="fa fa-check fa-lg"></i>{{ 'CONFIRM' | translate}}&nbsp;</a>
    <a href="" class="btn btn-danger btn-sm" ng-click="cancel()" ng-disabled="false" ng-if="!saved"><i class="fa fa-close fa-lg"></i>{{ 'CANCEL' | translate }}&nbsp;</a>
  </div>
</div>

</form>
