<div class="modal-header">
    <h3 class="modal-title display-inline">Confirmar</h3>
</div>

<div class="modal-body">

    <label class="crud-label modal-label" title="Cycle">¿Confirma que desea guardar los datos?</label>

</div>

<div class="modal-footer">
    <div class="text-right">
        <a href="" class="btn btn-primary btn-sm" ng-click="ok()" ng-disabled="false"><i class="fa fa-check fa-lg"></i>&nbsp;Confirmar</a>
        <a href="" class="btn btn-danger btn-sm" ng-click="cancel()" ng-disabled="false"><i class="fa fa-close fa-lg"></i>&nbsp;Cancelar</a>
    </div>
</div>