/* padding */
.remove-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.remove-padding-right {
    padding-right: 0px !important;
}
.remove-padding-left {
    padding-left: 0px !important;
}
.remove-padding-top {
    padding-top: 0px !important;
}
.remove-padding-bottom {
    padding-bottom: 0px !important;
}
.remove-all-padding {
    padding: 0px !important;
}

/* margin */
.remove-all-margin {
    margin: 0px !important;
}
.remove-margin-bottom {
    margin-bottom:0px;
}
.remove-margin-top{
    margin-top:0px;
}
.remove-margin-left {
    margin-left:0px;
}
.remove-margin-right {
    margin-right:0px;
}
/* margin sm */
.margin-bottom-sm {
    margin-bottom: 5px !important;
}
.margin-top-sm {
    margin-top: 5px !important;
}
.margin-right-sm {
    margin-right: 5px !important;
}
.margin-left-sm {
    margin-left: 5px !important;
}
.margin-sm {
    margin: 5px !important;
}
/* margin md */
.margin-bottom-md {
    margin-bottom: 10px !important;
}
.margin-top-md {
    margin-top: 10px !important;
}
.margin-left-md {
    margin-left: 10px !important;
}
.margin-right-md {
    margin-right: 10px !important;
}
.margin-md {
    margin: 10px !important;
}
/* margin lg */
.margin-bottom-lg {
    margin-bottom: 15px !important;
}
.margin-top-lg {
    margin-top: 15px !important;
}
.margin-left-lg {
    margin-left: 15px !important;
}
.margin-right-lg {
    margin-right: 15px !important;
}
.margin-lg {
    margin: 15px !important;
}

/* padding sm */
.padding-bottom-sm {
    padding-bottom: 5px !important;
}
.padding-top-sm {
    padding-top: 5px !important;
}
.padding-right-sm {
    padding-right: 5px !important;
}
.padding-left-sm {
    padding-left: 5px !important;
}
.padding-sm {
    padding: 5px !important;
}

/* padding md */
.padding-bottom-md {
    padding-bottom: 10px !important;
}
.padding-top-md {
    padding-top: 10px !important;
}
.padding-left-md {
    padding-left: 10px !important;
}
.padding-right-md {
    padding-right: 10px !important;
}
.padding-md {
    padding: 10px !important;
}

/* padding lg */
.padding-bottom-lg {
    padding-bottom: 15px !important;
}
.padding-top-lg {
    padding-top: 15px !important;
}
.padding-left-lg {
    padding-left: 15px !important;
}
.padding-right-lg {
    padding-right: 15px !important;
}
.padding-lg {
    padding: 15px !important;
}