.password-label{
  text-align: right;
  width: 30%;
}

.password-free-label{
  text-align: center;
  width: 100%;
}
.password-field{
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 40%;
}

.password-error-label{
  color: red;
  text-align: left;
  font-weight: normal;
}

input.ng-dirty.ng-dirty.ng-invalid,
.password-has-error{
  border-color: red;
  outline-color: red;
}
