<h1>Películas</h1>
<div class="state-container">
  <!-- Icono de Carga -->

  <div class="loading" ng-if="Movie.loading">
    <i class="loading fa fa-refresh fa-spin fa-4x"></i>
  </div>
  <!--Contenedor de la lista-->
  <div>
    <label>Busqueda:</label>
    <input type="text" ng-model="Movie.query">
    <button ng-click="Movie.search()">Buscar!</button>
  </div>


  <div ng-if="!Movie.loading && !Movie.movies.length">

    <p>No se encontraron resultados</p>
  </div>


  <div ng-if="!Movie.loading && Movie.movies.length > 0">

    <list-size list="Movie.movies"></list-size>

    <div class="state-table">
      <div class="state-heading">
        <div class="state-cell">
          <p>Nombre</p>
        </div>
        <div class="state-cell">
          <p>Tipo</p>
        </div>
      </div>
      <div class="state-row" ng-repeat="(key, movie) in Movie.movies">
        <div class="state-cell">
          <p>{{movie.Title}}</p>
        </div>
        <div class="state-cell">
          <p>{{movie.Type}}</p>
        </div>

      </div>
    </div>
  </div>
</div>


</div>
